<div class="col-md-5">
    <h1>{{page_title}}</h1>
    <p>Modifica tus datos personales de usuario.</p>
</div>

<div class="alert alert-success" *ngIf="status == 'success'" >
    Los datos han cambiado correctamente :)
</div>
<div class="alert alert-danger" *ngIf="status == 'error'" >
   Hay algun probloma , intenta mas tarde :(
</div>


<!--Formulario de Ajustes de usuario-->
<form class="col-md-5" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)" >
    <div class="form-group">
        <label for="name">Nombre</label>
        <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="user.name"
        required pattern="[a-zA-Z]+">

        <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
            El nombre no es valido
        </small>
    </div>
    <div class="form-group">
        <label for="surname">Apellido</label>
        <input class="form-control" type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname"
        required pattern="[a-zA-Z]+">

        <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
            El Apellido no es valido
        </small>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" 
        required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        
        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
            El email no es valido
        </small>
    </div>
    <div class="form-group">
        <label for="description">Descripcion</label>
        <textarea [froalaEditor] class="form-control" name="description" #description="ngModel" [(ngModel)]="user.description"></textarea>

        <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
            La descripcion no es valida
        </small>
    </div>
    <div class="form-group">
        <label for="image">Avatar</label>
        <div *ngIf="identity && identity.image">
            <img class="avatar_edit" src="{{url + 'user/avatar/' + identity.image }}">
        </div>


        <angular-file-uploader 
        [config]="afuConfig"
        (ApiResponse)="avatarUpload($event)">></angular-file-uploader>
    </div>
    <div class="form-group">
       <button type="submit" value="Guardar Cambios" class="btn btn-dark col-12" [disabled]="userEditForm.invalid">Guardar Cambios</button>
    </div>
</form>

